[Unit]
Description=Polybot Trading Bot Bridge Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/mypolybot
ExecStart=/var/www/mypolybot/.venv/bin/python main.py
Restart=always
RestartSec=5
Environment=TZ=Asia/Jakarta

[Install]
WantedBy=multi-user.target